*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat'sans-serif;
}

main{
  width: 70vw;
  margin: auto;
}

.layover{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  border-radius: 10px;
}

}
    /* regole header */
header{
  height: 10vh;
  margin-top: 10px;
}

#logo{
  height: 40px;
  margin-bottom: 20px;
  border-right: 1px solid lightgrey;
  padding-right: 20px;
}

nav ul li{
  display: inline-block;
  font-size: 10px;
  margin-right: 2px;
}

a{
  text-decoration: none;
  color: lightgrey;
}

li:hover{
  background-color: black;
  font-size: 15px;

}
    /* jumbotrom */
.jumbotron{
  height:65vh;
  width: 100%;
  background-image: url("../../img/banner.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top:20px;
  position: relative;
}

.jumbotron div:first-child{
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding:50px;
  color:white;
}

div span:first-child{
  font-size: 30px;
  font-weight: bold;
}
  /* parte articolo float */
.row{
  margin-top: 10px;
}

.row::after{
  content:'';
  display: table;
  clear: both;
}

div span:only-of-type{
  color:lightgrey;
}

.title{
  height: 50px;
  margin: 20px 0;
}

aside{
  float: left;
  width: 21%;
  margin:2%;
}

.img-post{
  height: 30vh;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
  border-radius: 10px;
}

.img-post:hover{
  opacity: 1;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px lightblue;
}

      /* paragrafi e footer */
h4, p{
  margin-top: 10px;
}

p{
  color: lightgrey;
}

footer{
  margin-top: 40px;
  text-align: center;
}

#red{
  color: red;
}
